.App {
  text-align: center;
  font-family: sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border-bottom: 3px solid black;
}

.left{
  width: 40%;
  font-size: 1.25rem;
}

.left h2{
  font-weight: 800;
}

.right{
  width: 40%;
}
.right a{
  margin: 0 2%;
  padding: 4%;
}

.logout button{
  margin-top: 4%;
  font-size: 2rem;
  padding: 4% 10%;
}
h1{
  font-size: 5rem;
  margin-bottom: 2%;
}

form{
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.form-group{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form-group label{
  text-align: left;
}

.form-group button, .form-group input{
  height: 10vh;
  margin-bottom: 5%;
  font-size: 1.5rem;
}

.friendlist{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.friend{
  font-weight: 800;
  font-size: 1.25rem;
  text-transform: uppercase;
  width: 100%;
  text-align: left;
  margin: 2% 0;
}

.black-box{
  border: none;
  background: black;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
